{% extends "clienttemplates/base.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}


<div class="contact-grids1 w3agile-6 registration">
	<h3>Registration Form </h3>

<form action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Username</label>
				{{form.username}}
				{{form.username.errors}}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Email</label>
				{{form.email}}
				{{form.email.errors}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Password</label>
				{{form.password}}
			</div>

			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Confirm Password</label>
				
				{{form.confirm_password}}
				
				{{form.confirm_password.errors}}

			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Name</label>
				{{form.name}}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Phone no</label>
				{{form.phone_no}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Address</label>
				{{form.address}}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Report Card</label>
				{{form.report_card}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Course</label>
				{{form.course}}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Subject</label>
				{{form.subject}}
			</div>
		</div>
		<!-- {%	for	field	in	form	%}
		<div>				
			{{	field.errors	}}		
		</div> 
		{%	endfor	%} -->
		<div class="row">
			<div class="col-md-12 form-group">
				<button type="submit" class="btn btn-primary fa-pull-right">Submit</button>
			</div>
			
		</div>
		
		
	</form>	
</div>
{% endblock %}

