{% extends "clienttemplates/base.html" %}
{% load static %}
{% block content %}
<a href="{% url 'hometuitionapp:logout' %}">Logout</a>
<h1 style="text-align: center;">Teacher List</h1>

<form method="GET" action="">
	<div class="container form-row my-2" style="width: 70%; margin-left: auto; margin-right: auto;">
		<div class="form-group col-5">
			<div class="input-group">
				<input class="form-control py-2 border border-dark rounded" type="search" name="subject" placeholder="Subject" />
			</div>
		</div>
		<div class="form-group col-5">
			<div class="input-group">
				<input class="form-control py-2 border border-dark rounded" type="search" name="location" placeholder="Location" />
			</div>
		</div>   
		<div class="form-group col-2">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>       
	</div>
</form>

<!-- Displaying error message -->
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="width: 70%; margin-left: auto; margin-right: auto;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

<div class="container row mt-2 mb-2" style="width: 70%; margin-left: auto; margin-right: auto;">
	{% for teacher in queryset %}
	<div class="col-4">
		<img src="{{teacher.photo.url}}"/>
		<h1><a href="{% url 'hometuitionapp:teacherprofile' teacher.pk %}">{{teacher.name}}</a></h1>
		<h2>Education:{{teacher.education}}</h2>
		<h2>Experience: {{teacher.experience}} </h2>
	</div>
	{% endfor %}
</div>
{% endblock %}