{% extends "clienttemplates/base.html" %}
{% load static %}
{% block content %}
<h3>Welcome {{request.user}}</h3>
{% if messages %}
    	<div class="col-lg-3 color03">
        	<ul class="messages">
            	{% for message in messages %}
                	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            	{% endfor %}
        	</ul>
    	</div>
{% endif %}
<a href="{% url 'hometuitionapp:teacherdetail' request.user.teacher.id %}">Profile</a>
<a href="{% url 'hometuitionapp:teachernotificationlist' %}">Notification</a>


<a href="{% url 'hometuitionapp:logout' %}">Logout</a>
{% endblock %}
