{% extends "clienttemplates/base.html" %}
{% load static %}
{% block content %}
<h1>{{profile.name}}</h1>


<!-- <h3>{{profile.name}}</h3> -->
<img src="{{profile.photo.url}}"/>
<p>Gender: {{profile.gender}}</p>
<p>Phone_no: {{profile.phone_no}}</p>
<p>Email:{{profile.email}}</p>
<p>Address:{{profile.address}}</p>
<p>Education:{{profile.education}}</p>
<p>Experience:{{profile.experience}}</p>
<p>CV:{{profile.cv}}</p>
<p>Citizenship:{{profile.citizenship}}</p>
<p>Course:{{profile.course}}</p>
<p>Subject:{{profile.subject}}</p>
{% endblock %}


