* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.flex-container {
    width: 34%;
    border: black outset 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 75%;
}

.btn {
    width: 100%;
}